* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1em;
}

.row1 {
  border-bottom: 1px solid #888888;
  text-align: center;
  padding: 0px 10px;
}

h1 {
  color: #888888;
}

/*.score {
  width: 25%;
  display: inline-block;
}*/

button {
  background-color: white;
  width: 100px;
  height: 40px;
  cursor: pointer;
  font-size: 1.2em;
  border: 1px solid #888888;
  color: #888888;
  margin-bottom: 10px;
}

button:hover {
  background-color: #06c2fc;
}

button:active {
  background-color: #09aadb;
}

button:focus {
  outline: 0;
}

.row2:before, .row2:after {
  content: "";
  display: table;
}

.row2:after {
  clear: both;
}

.column {
  float: left;
}

.columnOne,
.columnTwo,
.columnThree,
.columnFour,
.columnFive {
  border-right: 1px solid #888888;
}

.square {
  border-bottom: 1px solid #888888;
  height: 175px;
  text-align: center;
}







.column-1 { width: 8.33%; }
.column-2 { width: 16.66%; }
.column-3 { width: 25%; }
.column-4 { width: 33.33%; }
.column-5 { width: 41.66%; }
.column-6 { width: 50%; }
.column-7 { width: 58.33%; }
.column-8 { width: 66.66%; }
.column-9 { width: 75%; }
.column-10 { width: 83.33%; }
.column-11 { width: 91.66%; }
.column-12 { width: 100%; }
